.flex{                  /* css pour du général */
    display: flex;
}
h1{
    text-align: center;
    text-transform: capitalize;
}
.mid{
    justify-content: center;
}


body{                  /* css pour le body */
    width: 100%;
    min-height: 900px;
    margin: 3em auto;
    font-family: 'Roboto Mono';
    letter-spacing: 1px;
    background: 
    linear-gradient(217deg, rgba(208, 255, 0, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0, 81, 255, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(255, 0, 0, 0.8), rgba(0,0,255,0) 70.71%);
}
body.dark-mode{
    background: 
    linear-gradient(217deg, rgba(0, 0, 0, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0, 0, 0, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 0, 0.8), rgba(0,0,255,0) 70.71%);
}

h1{                  /* css pour le text */

    text-align: center;
    color: #fff;
}
p{
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-bottom: 2em;
    line-height: 30px;

}

#trad{                  /* css pour les de text de traduction */
    text-align: left;
    margin: 0;
    padding: 0;
    width: 350px;
    min-height: 250px;
    max-height: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding-left: 2px;
    border-radius: 10px;
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: large;
}
#text{
    margin: 0;
    width: 350px;
    min-height: 250px;
    max-height: none;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 2px;
    border: none;
    resize : none;
    font-family: sans-serif;
    font-size: large;
    text-transform: capitalize;
}
#text:focus {
    outline:  none;
}
.text{
    margin: 0 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

select::-ms-expand{                  /* css pour les select */
    display: none;
  }
.select{
    position: relative;
    float: left;
    min-width: 300px;
    width: 300px;
    min-height: 60px;
    font-family: 'Roboto';
    color: rgb(46, 46, 46);
    font-weight: 300;
    background-color: #fff;
    box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.3);
    border-radius: 3px;
    appearance: none;
    cursor: pointer;
    background-color: #ffffff28;
    border: 1px solid;
}
select{
    overflow: hidden;
    height: 0px;
    opacity: 1;  
    z-index: 1;
    text-transform: capitalize;
    scrollbar-width: thin;
}
select:hover{
    background-color: transparent;
}
select:active{
    background-color: transparent;
}
select::-webkit-scrollbar-thumb{
    border-radius: 50%;
}
select::-webkit-scrollbar {
    width: 4px;
}


#switch{                  /* css pour les bouton */
    height: 20px;
    width: 20px;
    padding: 20px;
    margin: auto;
    opacity: 1;
    z-index: 1;
    background: url("image/44853.png") no-repeat;
    border-radius: 50%;
    border: 1px solid;
}
#darkThem{
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 50%;
    background: url("image/116754.png");
    margin-left: 10px;
}
button{
    cursor: pointer;
}

@media screen and (max-width: 1500px){
    .texta{                /* css mobile textarea */
        display: block;
    }
    .text{
        margin-bottom: 20px;
    }
    .sectionTrad{
        margin-top: 10px;
    }
    
    .select{                /* css mobile selection */
        min-width: 120px;
        width: 120px;
        min-height: 30px;
        position: relative;
        bottom: 40px;
    }
    .trad-btn{
        position: relative;
        right: 140px;
    }
    .lang{
        position: relative;
        left: 140px;
    }


    .btn-sw{                /* css mobile bouton switch */
        margin: 0 40px;
    }
}